<p>
  This workshop content comes from 
  <a href="{{site.swc_site}}">Software Carpentry</a>,
  a creative commons instructional paradigm that aims 
  to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This mini workshop will cover version control.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
