<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction from Norman Loeb</td> </tr>
      <tr> <td>09:10</td>  <td>Version Control with Git - Part 1</td> </tr>
      <tr> <td>10:10</td>  <td>Break</td> </tr>
      <tr> <td>10:25</td>  <td>Version Control with Git - Part 2</td> </tr>
      <tr> <td>11:30</td>  <td>CERES Bitbucket and Next Steps</td> </tr>
    </table>
  </div>
  <!--
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version control with Git</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Managing data with SQL</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  -->
</div>
